html {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-primary: hsl(31, 49%, 29%);
    --color-primary-hover: hsl(31, 49%, 27%);
    --color-primary-active: hsl(31, 49%, 23%);
    --color-primary-border: hsl(31, 49%, 21%);
    --color-bg: hsl(31, 49%, 94%);
    --color-input-bg: hsl(31, 49%, 96%);
}

body {
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
    background-color: hsl(31, 49%, 94%);
    /* background-size: 100vw 100vh; */
    /* background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%); */
}

button {
    cursor: pointer;
    background-color: var(--color-primary);
    border: 3px solid var(--color-primary-border);
    border-radius: 3px;
    color: white;
    font-weight: bold;
    margin: 0.3rem 0;
}
button:hover {
    background-color: var(--color-primary-hover);
}
button:active {
    background-color: var(--color-primary-active);
}

input[type='text'],
input[type='password'],
input[type='email'],
textarea {
    box-sizing: border-box;
    background-color: var(--color-input-bg);
    border: 3px solid var(--color-primary-border);
    border-radius: 3px;
    padding: 0.5rem;
    margin: 0.4rem 0;
    font-size: 1.2rem;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
textarea:focus {
    outline: none;
    box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 1);
    outline: 2px solid black;
}
button:focus {
    outline: 2px solid black;
    /* box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 1); */
}
a {
    text-decoration: none;
    color: var(--color-primary);
}
a:hover {
    text-decoration: underline;
    color: var(--color-primary-hover);
}

a:active {
    color: var(--color-primary-active);
}
